interfaces {    
    xe-0/0/3:1 {
        unit 0 {
            description to-test-equipment;
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members v100;
                }
            }
        }
    }
    xe-0/0/3:2 {
        unit 0 {
            description to-test-equipment;
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members v200;
                }
            }
        }
    }
    irb {
        unit 100 {
            family inet {
                address 10.10.10.1/16 {
                    virtual-gateway-address 10.10.10.254;
                }
            }
        }
        unit 200 {
            family inet {
                address 10.20.20.1/16 {
                    virtual-gateway-address 10.20.20.254;
                }
            }
        }
    }
    lo0 {
        unit 1 {
            family inet {
                address {{ov_loopback1}}/32 {
                    primary;
                }
            }
        }
        unit 2 {
            family inet {
                address {{ov_loopback2}}/32 {
                    primary;
                }
            }
        }
    }
}
protocols {
    bgp {
        group overlay001 {
            type internal;
            local-address {{loopback}};
            family evpn {
                signaling;
            }
            neighbor {{ibgp_peer_01}};
            neighbor {{ibgp_peer_02}};
            neighbor {{ibgp_peer_03}};
            neighbor {{ibgp_peer_04}};
        }
    }
    evpn {
        encapsulation vxlan;
        default-gateway no-gateway-community;
        extended-vni-list all;
    }
}
policy-options {
    policy-statement export-inet1 {
        term 1 {
            from interface irb.100;
            then {
                community add com200;
                accept;
            }
        }
    }
    policy-statement export-inet2 {
        term 1 {
            from interface irb.200;
            then {
                community add com100;
                accept;
            }
        }
    }
    policy-statement import-inet {
        term 1 {
            from community [ com100 com200 ];
            then accept;
        }
    }
    community com100 members target:1:100;
    community com200 members target:1:200;
}
routing-instances {
    vrf_vlan100 {
        instance-type vrf;
        interface irb.100;
        interface lo0.1;
        route-distinguisher 10.2.3.11:2;
        vrf-import import-inet;
        vrf-export export-inet1;
        routing-options {
            auto-export {
                family inet {
                    unicast;
                }
            }
        }
    }
    vrf_vlan200 {
        instance-type vrf;
        interface irb.200;
        interface lo0.2;
        route-distinguisher 10.2.3.11:3;
        vrf-import import-inet;
        vrf-export export-inet2;
        routing-options {
            auto-export {
                family inet {
                    unicast;
                }
            }
        }
    }
}
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher {{loopback}}:1;
    vrf-target target:1111:11;
}
vlans {
    v100 {
        vlan-id 100;
        l3-interface irb.100;
        vxlan {
            vni 100;
        }
    }
    v200 {
        vlan-id 200;
        l3-interface irb.200;
        vxlan {
            vni 200;
        }
    }
}
