interfaces {
{% for neighbor in neighbors %}
    {{ neighbor.interface }} {
        unit 0 {
            description "connection to {{ neighbor.name }} on interface {{neighbor.peer_interface}}";
            family inet {
                address {{ neighbor.local_ip }}/31;
{% endfor %}
{% for neighbor in directly_connected %}
    {{ neighbor.dc_interface }} {
        unit 0 {
            description "connection {{ neighbor.dc_name }}";
            family inet {
                address {{ neighbor.dc_local_ip }}/{{dc_local_ip_mask}};
{% endfor %}
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address {{ loopback }}/32 {
                    primary;
                } 
            }
        }
    }
}
protocols {
    replace:
    ospf {
        export underlay-networks;
        reference-bandwidth 1000g;
        area 0.0.0.0 {
{% for neighbor in neighbors %}
            interface {{ neighbor.interface }}.0; 
{% endfor %}
            interface lo0.0 {
                passive;
            }
        }
    }
}
replace:
routing-options {
    router-id {{ loopback }};
    autonomous-system {{ global_asn }};
    forwarding-table {
        export load-balancing-policy;
    }
}
replace:
policy-options {
    policy-statement load-balancing-policy {
        then {
            load-balance per-packet;
        }
    }
    policy-statement underlay-networks {
        term 1 {
            from protocol direct;
            then accept;
        }
    }
}
