{% for neighbor in neighbors %}
    {{ neighbor.interface }} {
        unit 0 {
            description "connection to {{ neighbor.name }} on interface {{neighbor.peer_interface}}";
            family inet {
                address {{ neighbor.local_ip }}/31;
            }
        }
    }
{% endfor %}
    lo0 {
        unit 0 {
            family inet {
                address {{ loopback }}/32 {
                    primary;
                } 
            }
        }
    }
}
replace:
protocols {
    ospf {
        reference-bandwidth 1000g;
        area 0.0.0.0 {
{% for neighbor in neighbors %}
            interface {{ neighbor.interface }}.0; 
{% endfor %}
            interface lo0.0 {
                passive;
            }
        }
    }
}
replace:
routing-options {
    router-id {{ loopback }};
    autonomous-system {{ global_asn }};
    forwarding-table {
        export load-balancing-policy;
    }
}
replace:
policy-options {
    policy-statement load-balancing-policy {
        then {
            load-balance per-packet;
        }
    }
}
